/* ## Colors

### Primary

Very Dark Magenta: hsl(300, 43%, 22%)
Soft Pink: hsl(333, 80%, 67%)

### Neutral

Dark Grayish Magenta: hsl(303, 10%, 53%)
Light Grayish Magenta: hsl(300, 24%, 96%)
White: hsl(0, 0%, 100%) */

:root {
    --primary-dark-magenta: hsl(300, 43%, 22%);
    --primary-soft-pink: hsl(333, 80%, 67%);

    --neutral-dark-magenta: hsl(303, 10%, 53%);
    --neutral-light-magenta: hsl(300, 24%, 96%);
    --neutral-white: hsl(0, 0%, 100%);

    --fw-bold: 700;
    --fw-regular: 500;
    --fw-small: 400;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.7;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  h1 {
    line-height: 1;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

  body {
    font-family: League Spartan;
    background-color: var(--neutral-white);
    background-image: url(images/bg-pattern-top-mobile.svg);
    background-image: url(images/bg-pattern-bottom-mobile.svg) bottom right;
    background-repeat: no-repeat;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 375px;
    padding: 3rem;
    margin: auto;
  }

  h1 {
    color: var(--primary-dark-magenta);
    font-weight: var(--fw-bold);
    text-align: center;
  }

  .description {
    color: var(--neutral-dark-magenta);
    font-weight: var(--fw-small);
    line-height: 1.2;
    margin-top: 1rem;
    text-align: center;
  }

/* review section */

  .rate-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .review-box1, .review-box2, .review-box3 {
    background-color: var(--neutral-light-magenta);
    color: var(--primary-dark-magenta);
    font-weight: var(--fw-bold);
    border-radius: 1rem;
    min-height: fit-content;
    padding: 1rem;
    margin: 1rem;
  }

  .stars {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    gap: 1rem;
  }

/* comment section */

  .comment-box {
    background-color: var(--primary-dark-magenta);
    color: var(--neutral-light-magenta);
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;
  }

  .avatar {
    border-radius: 50%;
    max-width: 3rem;
    position: absolute;
    border: 2px solid var(--neutral-white);
  }

  .name {
    font-weight: var(--fw-small);
  }

  .buyer {
    font-weight: var(--fw-small);
    color: var(--primary-soft-pink);
  }

  .name, .buyer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    font-size: 20px;
    line-height: 1.2;
  }

  .id {
    margin-bottom: 1rem;
  }

  .rewiev {
    text-align: left;
  }

  /* media querry */

  @media (min-width: 42em) {

    .container {
      min-height: 100vh;
      min-width: 100vh;
      display: grid;
      grid-template-columns: repeat(3, 20rem);
      margin: auto;
      grid-template-areas: 
      1 2 3 4
      5 6 7 8;
    }

    .header, .description {
      text-align: left;
      max-width: 15rem;
      grid-column: 1 / 3;
      opacity: 0;
      transform: translateX(-100%);
      animation: slideIn1 2s forwards;
    }

    @keyframes slideIn1 {
      0% {
        opacity: 0;
        transform: translateX(-100%);
      }

      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .rate-box {
      grid-column: 3 / 5;
      grid-row: 1 / 3;
      opacity: 0;
      transform: translateX(100%);
      animation: slideIn2 2s forwards;
    }

    @keyframes slideIn2 {
      0% {
        opacity: 0;
        transform: translateX(100%);
      }

      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .comment-box {
      opacity: 0;
      transform: translateY(100%);
      animation: slideIn3 2s forwards;
    }

    @keyframes slideIn3 {
      0% {
        opacity: 0;
        transform: translateY(100%);
      }

      100% {
        opacity: 1;
        transform: translateY(0);
      }
  }